body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:100px;
  width:1080px;
  height:1920px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1084px;
  height:1924px;
}
#u1 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:100px;
  width:1080px;
  height:70px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1084px;
  height:74px;
}
#u3 {
  position:absolute;
  left:2px;
  top:27px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:100px;
  width:1080px;
  height:70px;
  opacity:0.7;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:70px;
}
#u5 {
  position:absolute;
  left:2px;
  top:27px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:100px;
  top:1823px;
  width:220px;
  height:197px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
  font-size:40px;
}
#u6_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:224px;
  height:201px;
}
#u7 {
  position:absolute;
  left:2px;
  top:70px;
  width:216px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:320px;
  top:1823px;
  width:220px;
  height:197px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
  font-size:40px;
}
#u8_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:224px;
  height:201px;
}
#u9 {
  position:absolute;
  left:2px;
  top:70px;
  width:216px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:540px;
  top:1823px;
  width:220px;
  height:197px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
  font-size:40px;
}
#u10_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:224px;
  height:201px;
}
#u11 {
  position:absolute;
  left:2px;
  top:70px;
  width:216px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:760px;
  top:1823px;
  width:220px;
  height:197px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
  font-size:40px;
}
#u12_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:224px;
  height:201px;
}
#u13 {
  position:absolute;
  left:2px;
  top:70px;
  width:216px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:980px;
  top:1823px;
  width:200px;
  height:197px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
  font-size:40px;
}
#u14_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:204px;
  height:201px;
}
#u15 {
  position:absolute;
  left:2px;
  top:70px;
  width:196px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:120px;
  top:188px;
  width:1030px;
  height:250px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u16_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1034px;
  height:254px;
}
#u17 {
  position:absolute;
  left:2px;
  top:62px;
  width:1026px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:125px;
  top:490px;
  width:1030px;
  height:250px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u18_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1034px;
  height:254px;
}
#u19 {
  position:absolute;
  left:2px;
  top:104px;
  width:1026px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:120px;
  top:780px;
  width:1030px;
  height:250px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u20_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1034px;
  height:254px;
}
#u21 {
  position:absolute;
  left:2px;
  top:104px;
  width:1026px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:125px;
  top:1100px;
  width:1030px;
  height:250px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u22_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1034px;
  height:254px;
}
#u23 {
  position:absolute;
  left:2px;
  top:104px;
  width:1026px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1280px;
  top:174px;
  width:600px;
  height:296px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  text-align:left;
}
#u24_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:604px;
  height:300px;
}
#u25 {
  position:absolute;
  left:2px;
  top:85px;
  width:596px;
  word-wrap:break-word;
}
