body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:100px;
  width:1080px;
  height:1920px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1084px;
  height:1924px;
}
#u1 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:100px;
  width:1080px;
  height:70px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1084px;
  height:74px;
}
#u3 {
  position:absolute;
  left:2px;
  top:27px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:100px;
  width:1080px;
  height:70px;
  opacity:0.7;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:70px;
}
#u5 {
  position:absolute;
  left:2px;
  top:27px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:125px;
  top:220px;
  width:665px;
  height:280px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
  font-size:50px;
}
#u6_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:669px;
  height:284px;
}
#u7 {
  position:absolute;
  left:2px;
  top:70px;
  width:661px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:250px;
  top:1880px;
  width:710px;
  height:140px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
  font-size:40px;
}
#u8_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:714px;
  height:144px;
}
#u9 {
  position:absolute;
  left:2px;
  top:42px;
  width:706px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:960px;
  top:1880px;
  width:220px;
  height:140px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
  font-size:40px;
}
#u10_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:224px;
  height:144px;
}
#u11 {
  position:absolute;
  left:2px;
  top:42px;
  width:216px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:820px;
  top:220px;
  width:320px;
  height:280px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
  font-size:50px;
}
#u12_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:324px;
  height:284px;
}
#u13 {
  position:absolute;
  left:2px;
  top:70px;
  width:316px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:110px;
  top:530px;
  width:1050px;
  height:1260px;
  overflow:hidden;
}
#u14_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:1260px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:80px;
  top:20px;
  width:10px;
  height:2110px;
}
#u15_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u15_end {
  position:absolute;
  left:-5px;
  top:2093px;
  width:20px;
  height:18px;
}
#u15_line {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  height:2110px;
}
#u16 {
  position:absolute;
  left:0px;
  top:950px;
  width:1030px;
  height:280px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
  font-size:50px;
}
#u16_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1034px;
  height:284px;
}
#u17 {
  position:absolute;
  left:2px;
  top:0px;
  width:1026px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:110px;
  width:1030px;
  height:280px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
  font-size:50px;
}
#u18_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1034px;
  height:284px;
}
#u19 {
  position:absolute;
  left:2px;
  top:0px;
  width:1026px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:540px;
  width:1030px;
  height:280px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  text-align:left;
}
#u20_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1034px;
  height:284px;
}
#u21 {
  position:absolute;
  left:2px;
  top:132px;
  width:1026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:1360px;
  width:1030px;
  height:280px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  text-align:left;
}
#u22_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1034px;
  height:284px;
}
#u23 {
  position:absolute;
  left:2px;
  top:105px;
  width:1026px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:50px;
  top:20px;
  width:200px;
  height:70px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:204px;
  height:74px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:50px;
  top:430px;
  width:200px;
  height:70px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:204px;
  height:74px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:50px;
  top:870px;
  width:200px;
  height:70px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:204px;
  height:74px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:250px;
  top:535px;
  width:470px;
  height:290px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:290px;
}
#u31 {
  position:absolute;
  left:2px;
  top:137px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:50px;
  top:1280px;
  width:200px;
  height:70px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:204px;
  height:74px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:1770px;
  width:1030px;
  height:280px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
  font-size:50px;
}
#u34_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1034px;
  height:284px;
}
#u35 {
  position:absolute;
  left:2px;
  top:0px;
  width:1026px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:50px;
  top:1670px;
  width:200px;
  height:70px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:204px;
  height:74px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:100px;
  top:1880px;
  width:150px;
  height:140px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
  font-size:40px;
}
#u38_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:154px;
  height:144px;
}
#u39 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:225px;
  top:730px;
  width:830px;
  height:710px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
  font-size:60px;
}
#u40_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:834px;
  height:714px;
}
#u41 {
  position:absolute;
  left:2px;
  top:229px;
  width:826px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:1280px;
  top:174px;
  width:600px;
  height:296px;
  font-family:'HanziPenSC-W3', 'HanziPen SC';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  text-align:left;
}
#u42_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:604px;
  height:300px;
}
#u43 {
  position:absolute;
  left:2px;
  top:127px;
  width:596px;
  word-wrap:break-word;
}
